<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="mat-h2 my-3 primary-text">Company</p>
            <p class="mat-body primary-text pointerClick">
                About us
            </p>
            <p class="mat-body primary-text pointerClick">
                Privacy policy
            </p>
            <p class="mat-body primary-text pointerClick">
                Terms and conditions
            </p>
            <p class="mat-body primary-text pointerClick">
                Guides
            </p>
            <!-- <p class="mat-body primary-text pointerClick" routerLink="/faqs">
            FAQs
          </p> -->
        </div>
        <div class="col-12 col-md-4">
          <p class="mat-h2 my-3 primary-text">Follow us</p>
          <!-- <a href="https://www.facebook.com/homelandhousing/"
            ><fa-icon
              style="color: rgb(67, 86, 167);"
              [icon]="faFacebook"
            ></fa-icon
          ></a> -->
        </div>
        <div class="col-12 col-md-4">
            <p class="mat-h2 my-3 primary-text">Contact us</p>
            <!-- <p class="mat-body primary-text">Homeland Housing Sdn. Bhd.<br>207-G<br>Jalan Dato Keramat<br>10150 Georgetown<br>Penang<br>Malaysia</p>
            <p class="mat-body primary-text">Tel: +604 295 8115</p>
            <p class="mat-body primary-text">Fax: +604 295 8116</p>
            <p class="mat-body primary-text">Email: info@homeland.my</p> -->
          </div>
    </div>
</div>