<div class="row">
    <div class="col-auto mr-auto">
        <button mat-flat-button routerLink="">Home</button>
    </div>
    <div class="col-auto">
        <div *ngIf="loggedIn; else notLogged">
            <button mat-flat-button>{{ username }}</button>
            <button mat-flat-button (click)="signOut()">Logout</button>
        </div>
        <ng-template #notLogged>
            <div>
                <button mat-flat-button (click)="openLoginDialog()">Login</button>
            <button mat-flat-button (click)="openSignUpDialog()">Sign Up</button>
            </div>
            
        </ng-template>


    </div>
</div>