.top-banner {
    height: 400px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/eventorganizer-70ba6.appspot.com/o/forrest-marathon.png?alt=media&token=0789369a-9d15-40eb-89bd-487693183189");
}

.title {
    font-weight: bold;
    text-align: center;
}

.search {
    background-color: white;
    width: 100%;
}

.text-center {
    text-align: center;
}